
   header, footer {
    padding:1em;
     color: #EEB4B4;
    background-color: black;
    clear: left;
    text-align: 
    ;
   }
   nav {
    float: left;
    max-width:40px:
    margin: 0;
    padding: 1em;
   }
   nav ul {
    list-style-type: none;
    padding: 0;
   }
   nav ul a {
    text-decoration: 20em;
   }
   article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
   }

<body>
<body background="https://www.walldevil.com/wallpapers/a72/best-south-korea-romantic-cityscape-illustration.jpg" bgproperties="fixed">
</body> 
   
