
   header, footer {
    padding:1em;
     color: #EEB4B4;
    background-color: black;
    clear: left;
    text-align: 
    ;
   }
   
   article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
   }
   
   
   
